html {
  height: 100%;
  box-sizing: border-box;
}

<<<<<<< HEAD
=======
div {
  background-color: transparent;
  display: block;
}

>>>>>>> 57791c8c4003e2489e3964a55f90bc52b04b9e38
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  position: absolute;
<<<<<<< HEAD
=======
  /*position: relative;*/
>>>>>>> 57791c8c4003e2489e3964a55f90bc52b04b9e38
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}